:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --main-transition-duration: 0.3s;
}

/* #region header */
header {
  background-color: white;
  --webkit-box-shadow: 0 0 10px #ddd;
  --moz-box-shadow: 0 0 10px #ddd;
  --o-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header .container {
    justify-content: center;
  }
}

header .container .logo {
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

@media (max-width: 767px) {
  header .container .logo {
    height: 50px;
  }
}

header .container .nav {
  display: flex;
}

header .container .nav a {
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
  padding: 0 30px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: var(--main-color) linear;
}

@media (max-width: 767px) {
  header .container .nav a {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
  }
}

header .container .nav a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  transition: var(--main-transition-duration) linear;
}

header .container .nav a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .container .nav a:hover::before {
  left: 0;
}

/* #endregion */

/* #region landing */
.landing {
  /* padding: 0; */
  position: relative;
  min-height: calc(100vh - 72px);
}

.landing::before {
  content: "";

  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #ececec;

  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  padding-top: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.landing .container .text-content {
  flex: 1;
  line-height: 1.7;
}

.landing .container .text-content h1 {
  margin: 0;
  letter-spacing: -2px;
  font-size: 40px;
}

@media (max-width: 767px) {
  .landing .container .text-content {
    text-align: center;
  }

  .landing .container .text-content h1 {
    font-size: 35px;
  }
}

.landing .container .text-content p {
  font-size: 23px;
  color: #666;
  max-width: 500px;
}

.landing .container .landing-image {
  width: 600px;
}

@media (max-width: 767px) {
  .landing .container .landing-image {
    display: none;
  }
}

.landing .container .landing-image img {
  max-width: 100%;

  animation: up-down-moving 5s linear infinite;
}

@keyframes up-down-moving {
  50% {
    transform: translateY(-50px);
  }
}

.landing .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  color: var(--main-color, --main-color-alt);

  animation: bouncing 5s linear infinite;
}

@keyframes bouncing {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    bottom: 40px;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    bottom: 30px;
  }
}

/* #endregion */

/* #region articles */
.articles .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.articles .card {
  transition: var(--main-transition-duration);
}

.articles .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
}

.articles .card img {
  max-width: 100%;
}

.articles .card .content {
  padding: 20px;
}

.articles .card .content h3 {
  margin-bottom: 10px;
}

.articles .card .content p {
  line-height: 1.5;
  color: #777;
}

.articles .card .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles .card .info a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

.articles .card .info i {
  color: var(--main-color);
}

.articles .card:hover .info i {
  animation: moving-arrow 0.6s linear infinite alternate;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(5px);
  }
}

/* #endregion */

/* #region gallary */
.gallary {
  background-color: var(--section-background);
}

.gallary .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallary .card {
  padding: 15px;
  background-color: white;
}

.gallary .card .image {
  overflow: hidden;
  position: relative;
}

.gallary .card .image::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-radius: 50%;

  opacity: 0;
  background-color: rgb(255 255 255 / 20%);
}

.gallary .card .image:hover::before {
  animation: flashing 0.7s linear;
}

@keyframes flashing {
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.gallary .card .image img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}

.gallary .card .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* #endregion */

/* #region features */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .card {
  border: 1px solid #ccc;
}

.features .card .image {
  overflow: hidden;
  position: relative;
}

.features .card .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.features .card:nth-child(1) .image::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .card:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .card:nth-child(3) .image::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .card .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  border-width: 0 0 10.5rem 30rem;
  border-color: transparent transparent white transparent;
  border-style: solid;
  transition: var(--main-transition-duration);
}

.features .card:hover .image::after {
  border-width: 0 30rem 10.5rem 0;
  border-color: transparent transparent white transparent;
}

.features .card img {
  max-width: 100%;
}

.features .card .text-content h2 {
  position: relative;
  font-size: 40px;
  margin: 0 auto 30px;
  width: fit-content;
}

.features .card .text-content h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 5px;
}

.features .card:nth-child(1) .text-content h2::before {
  background: #f44036;
}

.features .card:nth-child(2) .text-content h2::before {
  background: #009688;
}

.features .card:nth-child(3) .text-content h2::before {
  background: #03a9f4;
}

.features .card .text-content p {
  line-height: 2;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 25px;
  color: #777;
  text-align: center;
}

.features .card a {
  display: block;
  padding: 10px 30px;
  margin: 0 auto 40px;
  width: fit-content;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  transition: var(--main-transition-duration);
}

.features .card:nth-child(1) a {
  color: #f44036;
  border-color: #f44036;
  position: relative;
}

.features .card:nth-child(1):hover a {
  color: white;
}

.features .card:nth-child(1) a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #f44036;
  z-index: -1;
  transition: var(--main-transition-duration);
}

.features .card:nth-child(1):hover a::before {
  width: 100%;
}

.features .card:nth-child(2) a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right top;
}

.features .card:nth-child(3) a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right top;
}

.features .card:nth-child(2):hover a,
.features .card:nth-child(3):hover a {
  color: white;
  background-position: left top;
}
/* #endregion */

/* #region testimonials */
.testimonials {
  background-color: #ececec;
}

.testimonials .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonials .card {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .card img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials .card .role {
  color: #777;
  margin: 10px 0;
}

.testimonials .card .rating {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.testimonials .card .rating .filled {
  color: #ffc107;
}

.testimonials .card .about {
  color: #777;
  line-height: 1.5;
}
/* #endregion */

/* #region team-members */
.team-members .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.team-members .card {
  position: relative;
  z-index: 1;
}

.team-members .card::before,
.team-members .card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  
}

.team-members .card::before {
  z-index: -2;
  width: calc(100% - 60px);
  background-color: #f3f3f3;
}

.team-members .card::after {
  z-index: -1;
  background-color: #e4e4e4;

  width: 0;
  transition: var(--main-transition-duration);
}

.team-members .card:hover::after {
  width: calc(100% - 60px);
}

.team-members .card .socials {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 30px;
}

.team-members .card .socials .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-members .card a {
  width: 60px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.team-members .card a i {
  color: #777;
}

.team-members .card a:hover i {
  color: var(--main-color-alt);
} 

.team-members .card a:hover i[class~="fa-facebook-f"] {
  color: blue;
} 

.team-members .card a:hover i[class~="fa-youtube"] {
  color: red;
} 

.team-members .card .socials img {
  width: calc(100% - 60px);
  border-radius: 10px;
}

.team-members .card:hover .socials img {
  filter: grayscale(1);
}

.team-members .card .member-info {
  padding-left: 80px;
}

.team-members .card .member-info h3 {
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 10px;
}

.team-members .card .member-info h3 span {
  font-size: 15px;
  color: #70BBF7
}

.team-members .card .member-info p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 30px;
}
/* #endregion */

/* #region services */
.services {
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .card {
  text-align: center;
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition-duration);
  counter-increment: service-no;
}

.services .card:hover {
  transform: translateY(-10px);
}

.services .card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  transition: var(--main-transition-duration);
  background-color: var(--main-color);

}

.services .card:hover::before {
  width: 100%;
}

.services .card i {
  color: #d5d5d5;
  margin: 30px 0 20px;
}

.services .card h3 {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 40px;
}

.services .card .info {
  padding: 15px;
  text-align: right;
  position: relative;
  color: var(--main-color);
  background-color: #f9f9f9;
}

.services .card .info::before {
  content: "0" counter(service-no);
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--main-color);

  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
}

.services .card .info::after {
  content: "";
  position: absolute;
  left: 80px;
  bottom: 0;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
/* #endregion */

/* #region our-skills */
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
}

.our-skills .container img {
  max-width: 100%;
}

.our-skills .progress {
  flex: 1;
}

.our-skills .progress div h3 {
  margin: 20px 0 ;
}

.our-skills .progress span {
  height: 30px;
  display: block;
  position: relative;
  background-color: #eee;
}

.our-skills .progress span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}

.our-skills .progress .html span::before,
.our-skills .progress .py span::before {
  width: 80%;
}

.our-skills .progress .css span::before {
  width: 85%;
}

.our-skills .progress .js span::before {
  width: 70%;
}

.our-skills .progress span::after {
  content: attr(percentage);
  position: absolute;
  top: -42px;
  right: 0;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
}
/* #endregion */

/* #region how it works? */
.how-it-works {
  background-color: var(--section-background);
}

.how-it-works .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works .container > img {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
  }

  .how-it-works .container > img {
    margin: 0 0 50px;
  }
}

.how-it-works .card {
  padding: 30px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 6px;
  border: 2px solid white;
  background-color: #f6f5f5;

  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .how-it-works .card {
    text-align: center;
    flex-direction: column;
  }
}

.how-it-works .card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  width: 0;
  height: 0;
  z-index: -1;
  transition: var(--main-transition-duration);
}

.how-it-works .card:hover::before {
  width: 100%;
  height: 100%;
}

.how-it-works .card img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .how-it-works .card img {
    margin: 0 0 30px;
  }
}

.how-it-works .card h2 {
  margin-bottom: 10px;
}

.how-it-works .card p {
  color: #777;
  font-size: 18px;
  line-height: 1.7;
}
/* #endregion */

/* #region events */
.events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.events img {
  width: 500px;
  max-width: 100%;
}

.events .content {
  flex: 1;
  text-align: center;
}

.events .rem {
  margin-top: 20px; 
  display: flex;
  gap: 10px;
  justify-content: center;
}

.events .rem div {
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  width: 80px;
  transition: var(--main-transition-duration);
}

.events .rem div span {
  display: block;
}

.events .rem div span:first-child {
  color: var(--main-color);
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
}

.events .rem div span:last-child {
  padding: 8px 10px;
  font-size: 14px;  

  border-top: 1px solid #ccc;
}

.events .rem div:hover,
.events .rem div:hover span:last-child {
  border-color: var(--main-color);
}

.events .content h1 {
  margin: 40px 0 20px;
}

.events .content p {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}

.events .subscribe {
  width: 100%;  
  margin-top: 50px;
}

.events .subscribe form {
  width: 600px;
  margin: auto;
  background-color: #f6f5f5;
  border-radius: 50px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .events .subscribe form {
    margin-top: -25px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    flex-direction: column;
  }
}

.events .subscribe form input[type="email"] {
  flex: 1;

  height: 50px;
  padding: 10px;

  border: none;
  border-radius: 50px;
  
  text-indent: 20px;
  caret-color: var(--main-color);
}

.events .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition-duration);
}

.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .subscribe form input[type="submit"] {
  height: 50px;
  padding: 10px 20px;

  color: white;
  background-color: var(--main-color);

  border: none;
  border-radius: 50px;

  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;

  cursor: pointer;
}

.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

@media (max-width: 991px) {
  .events .subscribe form input[type="email"],
  .events .subscribe form input[type="submit"] {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
}

/* #endregion */

/* #region plans */
.plans {
  background-color: var(--section-background);
}

.plans .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.plans .card {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

@media (min-width: 992px) {
  .plans .card.advanced {
    top: -20px;
  }
}

.plans .card::before,
.plans .card::after {
  content: "";
  position: absolute;

  width: 0;
  height: 50%;

  background-color: #f6f6f6;

  z-index: -1;
  transition: var(--main-transition-duration);
}

.plans .card::before {
  top: 0;
  right: 0;
}

.plans .card::after {
  bottom: 0;
  left: 0;
}

.plans .card:hover::before,
.plans .card:hover::after {
  width: 100%;
}

.plans .card .popular {
  width: 40px;
  padding: 10px;
  position: absolute;
  top: -5px;
  right: 15px;

  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
}

.plans .card .popular::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -40px;
  left: 0;
  border: 20px solid var(--main-color);
  border-bottom-color: transparent;
}

.plans .card h2 {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.plans .card img {
  width: 80px;
  margin-bottom: 30px;
}

.plans .card .pricing {
  margin-bottom: 20px;
}

.plans .card .pricing span:first-child {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}

.plans .card .pricing span:last-child {
  font-size: 14px;
  color: #777;
}

.plans .card ul {
  text-align: left;
}

.plans .card ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.plans .card ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.plans .card a {
  text-decoration: none;
  display: block;
  margin: 30px auto 40px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 15px 20px;
  border-radius: 6px;
  transition: var(--main-transition-duration);
}

.plans .card a:hover {
  color: white;
  border-color: white;
  background-color: var(--main-color);
}
/* #endregion */